body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
button:first-child {
  background-color: gray;
  border: none;
  padding: 7px;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  margin-right: 10px;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}
button:nth-child(2) {
  background-color: gray;
  border: none;
  padding: 7px;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

main {
  border: 1.5px solid rgba(128, 128, 128, 0.422);
  width: 300px;
  height: 200px;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
main > img {
  background-color: gray;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

main > div {
  font-size: large;
}

main > button {
  width: 200px;
  height: 40px;
  background-color: gray;
  color: white;
  font-size: medium;
  border-radius: 10px;
  border: none;
}
